*{
    font-family: system-ui, sans-serif;
}




.sidebar{
    padding-top: 2rem;
    display: flex;
    float: left;
}



.main-content{
    float: right;
}

#title{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
    padding-bottom: 100px;
}

